.spotImg {
    height: 250px;
    flex-wrap: wrap;
}

.spotsPage {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.spotImg {
    float: left;
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 33px;
    margin: 1rem;
}

.spotPrice {
    font-weight: bold;
}

a:link {
    text-decoration: none;
}