/* ADD CSS HERE */

.detailImg {
    float: left;
    width: 33%;
    height: 33%;
    background-size: cover;
    border-radius: 33px;
    margin: 1rem;
    display: flex;
    position:static;

}

.detailName {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}