.spotDetailPage {
  flex-direction: column;
  width: 100%;
  gap: 15px;
  
}

.circle {
  font-size: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
.top {
  display: flex;
  gap: 15px;
}

.location {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}

.topText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  width: 90%;
}

.editAndDeleteButtons {
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.spotsReviews {
  margin-top: 20px;
}

.editButton,
.deleteButton {
  background-color: #ff385c;
  border: none;
  padding: 10px 15px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.avgStarRating {
  display: flex !important;
  align-items: center;
  font-size: 14px;
  width: 100%;
}

.starIcon {
  margin-right: 0.5rem;
  width: 12px;
  /* flex-grow: 1; */
}

.star {
  margin-right: 5px;
}

.avgRating {
  margin-right: 0.5rem;
  /* flex-grow: 1; */
}

.reviewCount {
  margin-right: 0.5rem;
  /* flex-grow: 1; */
}

.detailLocation {
  display: flex;
  /* flex-grow: 2; */
}

.detailImg {
  display: block;
  background-size: cover;
  border-radius: 33px;
  display: flex;
  object-fit: cover;
  width: 400px;
  height: 400px;
  background-size: cover;
  border-radius: 33px;
  display: flex;
  position: static;
  margin-top: 10px;
}

.outerBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.detailName {
  font-size: 2rem !important;
  display: flex;
  margin-top: 15px;
  justify-content: start;
  align-items: center;
}

.detailPrice {
  margin-top: 10px;
  font-weight: 800;
}

.bottomContainer {
  display: flex;
  flex-direction: wrap;
  width: 100%;
  justify-content: space-between;
  border-bottom: #d3d3d3 solid 1px;
}

.detailDescription {
  width: 90%;
  /* border-top: #D3D3D3 solid 1px; */
  letter-spacing: 0.5px;
  line-height: 30px;
  text-align: left;
  margin-right: 10px;
}

.self {
  font-weight: 700;
  margin-top: 10px;
  margin-top: 20px;
}

.check {
  font-size: 14px;
  color: grey;
  
  margin-bottom: 20px;
}

.superhost {
  font-weight: 700;
}

.experience {
  color: grey;
  font-size: 14px;
  margin-bottom: 20px;
}

.cancel {
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: #D3D3D3 solid 1px;
}

.hosted-container {
  display: flex;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: #d3d3d3 solid 1px;
}
#bookings_price {
  width: 40%;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
}

#price_bigger {
  font-size: 21px;
  font-weight: 700;
}

#priceId {
  margin-left: 5px;
  border: 0;
  margin-top: 20px;
  padding: 0;
  font-weight: 300;
}

.bottomStars {
  display: flex;
  font-size: 14px;
  margin-left: 5px;
}

.circleBottom {
  font-size: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}

.reviewStars {
  display: flex;
  font-size: 1em;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.reviewButton {
  background-color: #ff385c;
  border: none;
  padding: 10px 15px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.eachReviewStar {
  margin-top: 10px;
}

.eachReview {
  margin-bottom: 10px;
}
