/* ADD CSS HERE */

.detailImg {
    float: left;
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 33px;
    margin: 1rem;
    display: flex;
    position:static;

}

.detailName {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailSpot {
    display: flex;
    flex-wrap: wrap;
}