/* .loginForm {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
input {
     width: 100%;
    background-color: #f5f7f8;
    border: gray;
    resize: vertical;
    height:50px;
    margin: 6px;
}
.login_btn {
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 6px;
    width: 100%;
    height: 50px;
    font-size: 15px;
} */